#toggle {
  background: #fff;
  width: 3.5rem;
  height: 2rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
}

@media (hover: hover) {
  #toggle:hover {
    cursor: pointer;
  }
}

#toggle #checkbox {
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 0.5rem;

  margin-left: 0.25rem;
  background: #e5e5e5;
  box-shadow: var(--shadow);
}

#toggle.checked #checkbox {
  margin-left: 1.75rem;
  background: #C2A2C5;
}

#checkbox,
#rect1,
#rect2 {
  transition: all 0.3s cubic-bezier(0.38, 0.24, 0.28, 1.17);
}