* {
  transition-duration: 0.2s;
  transition-property: background-color, transform, opacity;
}

nav {
  text-align: center;
  background-color: var(--nav-bg);
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

nav>*:first-child,
nav>*:last-child {
  padding: 0 1rem;
}

/* ! #debug */
nav>.nav-right {
  display: flex;
  float: right;
  flex-direction: row;
}

nav #title {
  color: var(--text-light);
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  padding: 1vmin 0;
}

@media (hover: hover) {
  nav #title:hover {
    transform: scale(0.95);
  }
}

img {
  cursor: pointer;
  margin: 1vmin 0;
  width: 2rem;
  padding: 0 0.5rem;
  user-select: none;
}

@media (hover: hover) {
  img:hover {
    transform: scale(1.1);
    opacity: 0.5;
  }
}