div {
  width: 100%;
  height: 100%;
  aspect-ratio: var(--keyboard-ratio);

  border-radius: 0.3rem;

  font-size: 115%;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--keyboard-bg);
  color: var(--text-colour-opp);
  fill: var(--text-colour-opp);
  border: 1px solid var(--cell-border);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);

  cursor: pointer;
  user-select: none;

  transition-duration: 0.2s;
}

div.icon {
  aspect-ratio: 3 / 2;
}

@media (hover: hover) {
  div:hover {
    transform: translateY(-0.2em);
    /* Don't move the shadow and make it slightly bigger and blurrier
    ** for a subtle raise effect - mainly noticeable in light mode */
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 25%);
  }
}

svg {
  width: 1.5rem;
}

svg * {
  transition-duration: 0s;
}

/* Colours should be defined from lowest to highest as failsafe in case they overlap */
div.fail {
  background-color: var(--tile-fail);
}

div.warn {
  background-color: var(--tile-warn);
}

div.success {
  background-color: var(--tile-success);
}

div.success:not(.selected),
div.warn:not(.selected) {
  color: var(--key-colour);
  fill: var(--key-colour);
}

div.fail:not(.selected) {
  color: var(--key-colour-contrast);
  fill: var(--key-colour-contrast);
}

div.selected {
  background-color: #180023;
  color: var(--text-light);
  fill: var(--text-light);
}