/* #board {
  flex: 0 1 auto;
  display: grid;
  grid-template-rows: repeat(var(--cells-per-col), var(--cell-size));
  grid-template-columns: repeat(var(--cells-per-row), var(--cell-size));
  gap: 1vmin;
  justify-content: center;
  padding: 2vmin 0;
  background-color: red;
  max-width: 800px;
  margin: auto;
}

#board>div {
  background-color: var(--cell-bg);
  border: 3px solid var(--cell-border);
  border-radius: 40%;
  font-weight: bold;
  font-size: calc(var(--cell-size) * 0.5);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0s;
}

#board>div.success {
  background-color: var(--cell-success);
}

#board>div.warn {
  background-color: var(--cell-warn);
}

#board>div.fail {
  background-color: var(--cell-fail);
} */