#keyboard {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 1vmin;
  justify-content: center;
  align-items: center;
  width: var(--keyboard-width);
}

#keyboard>.row {
  display: flex;
  justify-content: space-around;
  width: var(--keyboard-width);
}

#keyboard>.row>div {
  font-size: var(--keyboard-font-size);
  background-color: var(--keyboard-bg);
  color: var(--text-colour-opp);
  border: 2px solid var(--cell-border);
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--key-padding);
  margin: .5vmin;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

#keyboard>.row:first-child {
  margin-top: auto;
}

#keyboard>.row>div:not(.selected):hover {
  opacity: 0.5;
}

/* Colours should be defined from lowest to highest in case they overlap */

#keyboard>.row>div.fail {
  background-color: var(--cell-fail);
  border: 2px solid var(--cell-border);
  color: var(--text-colour);
}

#keyboard>.row>div.warn {
  background-color: var(--cell-warn);
  border: 2px solid var(--cell-border);
  color: var(--text-colour-opp);
}

#keyboard>.row>div.success {
  background-color: var(--cell-success);
  border: 2px solid var(--cell-border);
  color: var(--text-colour-opp);
}

.light #keyboard>.row>div.success:not(.selected) {
  color: var(--text-colour);
}

.light #keyboard>.row>div.warn:not(.selected) {
  color: var(--text-colour);
}

#keyboard>.row>div.selected {
  background-color: var(--cell-border);
  border: 2px solid var(--keyboard-bg);
  color: var(--text-light);
}