:root {
  --keyboard-width: 98%;
  --keyboard-aspect-ratio: 1 / 1.1;
}

@media (min-width: 500px) {
  :root {
    --keyboard-width: 100%;
    --keyboard-aspect-ratio: 1;
  }
}

#keyboard {
  max-width: 500px;
  width: var(--keyboard-width);
  padding-bottom: 2vmin;
}

#keyboard>.row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.1rem;
}

#keyboard>.row>div {
  width: calc(10% - 0.25rem);
  aspect-ratio: var(--keyboard-aspect-ratio);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--keyboard-bg);
  color: var(--text-colour-opp);
  fill: var(--text-colour-opp);
  border: 1px solid var(--cell-border);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  margin: 0.1em 0.05em;
  font-size: 115%;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

#keyboard>.row>div>svg {
  width: 1.5rem;
}

#keyboard>.row>div>svg * {
  transition-duration: 0s;
}

#keyboard>.last-row>div:first-child,
#keyboard>.last-row>div:last-child {
  width: 13%;
  aspect-ratio: auto;
}

#keyboard>.row>div:hover {
  transform: translateY(-0.2em);
  /* Subtle: on hover, don't move the shadow, instead, make it a tiny bit bigger with more blur
   ** Mainly noticeable on light backgrounds
   */
  box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 25%);
}

/* Colours should be defined from lowest to highest in case they overlap */
#keyboard>.row>div.fail:not(.selected) {
  background-color: var(--cell-fail);
  color: #626262;
}

.light #keyboard>.row>div.fail:not(.selected) {
  color: #3e3e3e;
}

#keyboard>.row>div.warn {
  background-color: var(--cell-warn);
}

#keyboard>.row>div.success {
  background-color: var(--cell-success);
}

.light #keyboard>.row>div.success:not(.selected),
.light #keyboard>.row>div.warn:not(.selected) {
  color: var(--text-colour);
  fill: var(--text-colour);
}

#keyboard>.row>div.selected {
  background-color: var(--cell-border);
  color: var(--text-light);
  fill: var(--text-light);
}