@media (min-width: 900px) {
  .menu {
    clip-path: polygon(100% 0, 100% 10%, 80% 100%, 0 100%, 0 0);
  }
}

.menu-toggle {
  z-index: 999;
  width: 2rem;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-toggle span,
.menu-toggle span::before,
.menu-toggle span::after {
  position: absolute;
  content: "";
  width: 2rem;
  height: 0.1em;
  background: #C2A2C5;
  transition: 300ms ease-out;
}

.menu-toggle span::before {
  top: -0.5em;
  left: 0;
}

.menu-toggle span::after {
  top: 0.5em;
  left: 0;
}

.menu-toggle.active>span {
  background: transparent;
}

.menu-toggle.active>span::before,
.menu-toggle.active>span::after {
  background: #C2A2C5;
  top: 0;
}

.menu-toggle.active>span::before {
  transform: rotate(-225deg);
}

.menu-toggle.active>span::after {
  transform: rotate(225deg);
}

.menu {
  z-index: 999;
  position: absolute;
  width: 100%;
  left: -100%;
  color: var(--text-light);
  background: var(--nav-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 300ms left cubic-bezier(0.7, 0, 0.3, 1);
}

.menu.active {
  left: 0;
  display: flex;
}

.menu p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}