:root {
  --cells-per-row: 0;

  --keyboard-font-size: 5vmin;
  --keyboard-width: 98%;
  --key-padding: 3vmin 1vmin;

  --cell-size-multiplier: 0.9;
  --cell-size: 4rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  transition-duration: 0.2s;
  transition-property: background-color, transform;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--body-bg);
  color: var(--text-colour);
  display: flex;
  flex-flow: column;
}

/* GENERIC */

.center-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ICONS */

img {
  user-select: none;
}

/* NAVBAR */

nav {
  text-align: center;
  background-color: var(--nav-bg);
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text-light);
}

nav>*:first-child,
nav>*:last-child {
  padding: 0 1rem;
}

/* ! #debug */
nav>.nav-right {
  display: flex;
  float: right;
  flex-direction: row;
}

nav #title {
  font-weight: bold;
  font-size: 2rem;
  padding: 1vmin 0;
}

nav img {
  cursor: pointer;
  margin: 1vmin 0;
  width: 2rem;
  padding: 0 0.5rem;
}

nav img:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

main {
  justify-content: space-between;
  align-items: center;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

sliding-menu {
  z-index: 998;
}