:root {
  --cells-per-row: 5;
  --cells-per-col: 6;

  --nav-font-size: 8vmin;
  --keyboard-font-size: 5vmin;
  --keyboard-width: 98%;
  --key-padding: 3vmin 1vmin;

  --cell-size-multiplier: 0.9;
  --cell-size: 4rem;
  --icon-large: 2rem;
}

@media (min-width: 500px) {
  :root {
    --nav-font-size: 4vmin;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* ! DISABLE ONLY DURING DEBUGGING */
  transition-duration: .2s;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--body-bg);
  color: var(--text-colour);
  display: flex;
  flex-flow: column;
}

/* GENERIC */

.center-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shadow {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

/* ICONS */

i {
  user-select: none;
}

i.large {
  font-size: var(--icon-large);
}

/* NAVBAR */

nav {
  text-align: center;
  background-color: var(--nav-bg);
  flex: 0 1 auto;
  display: flex;
  /* height: 100%; */
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text-light);
}

nav>div {
  height: 100%;
}

nav>.nav-left {
  width: 5em;
}

nav>.nav-left #theme-switch {
  color: #C2A2C5;
  cursor: pointer;
}

nav>.nav-left #theme-switch:hover {
  opacity: 0.5;
}

nav>.nav-centre>a {
  font-weight: bold;
  font-size: var(--nav-font-size);
  padding: 1vmin 0;
}

nav>.nav-right {
  width: 5em;
}

main {
  justify-content: space-between;
  align-items: center;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#modal-content {
  background-color: var(--modal-bg);
  border-radius: 2vw;
  padding: 1vmin;
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}

#modal-header {
  font-size: var(--modal-header-font-size);
  font-weight: bold;
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 10%;
}

#modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 2vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-close {
  font-size: var(--modal-close-font-size);
  font-weight: bold;
  padding-right: 1vmin;
}

#modal-body {
  font-size: var(--modal-body-font-size);
  margin-bottom: 1vmin;
  flex: 1 1 auto;
}