:root {
  --text-light: #e5e5e5;
  --text-dark: #000;

  --nav-bg: #000;
  --body-bg: #fff;

  --text-colour: #fff;
  --text-colour-opp: #000;

  --tile-bg: #000;
  --tile-border: #000;
  --tile-border-selected: #fff;
  --tile-success: #ddd;
  --tile-warn: #999;
  --tile-fail: #555;

  --keyboard-bg: #fff;
  --key-colour: #000;
  --key-colour-contrast: #000;

  --result-bg: #fff;
}

.dark {
  --nav-bg: #1d1421;
  --body-bg: #35263d;

  --text-colour: #e5e5e5;
  --text-colour-opp: #000;

  --tile-bg: #1d1421;
  --tile-border: #180023;
  --tile-border-selected: #C2A2C5;
  --tile-success: #328b13;
  --tile-warn: #c7971b;
  --tile-fail: #2b252e;

  --keyboard-bg: #C2A2C5;
  --key-colour: #000;
  --key-colour-contrast: #575757;

  --result-bg: #C2A2C5;
}

.light {
  --nav-bg: #35263d;
  --body-bg: #FFF1D6;

  --text-colour: #000;
  --text-colour-opp: #e5e5e5;

  --tile-bg: #C2A2C5;
  --tile-border: #654774;
  --tile-border-selected: #edc4ff;
  --tile-success: #48C81B;
  --tile-warn: #FFD15A;
  --tile-fail: #958895;

  --keyboard-bg: #6f2e8b;
  --key-colour: #2c2c2c;
  --key-colour-contrast: #3e3e3e;

  --result-bg: #6f2e8b;
}