<style>
  @import url('js/components/menu/menu.component.css');
</style>

<section>

  <div id="menu-content">
    <div class="menu-item">
      <p>Theme:</p>
      <img src="resources/icons/sun.svg" id="theme-switch">
    </div>

    <div class="menu-item">
      <p>Tile selection:</p>
      <fancy-toggle checked="true" id="tile-selection"></fancy-toggle>
    </div>

    <div class="menu-item">
      <p>Word validation:</p>
      <fancy-toggle checked="true" id="validate-word"></fancy-toggle>
    </div>

    <div class="menu-item">
      <p>Word length:</p>
      <input id="word-length" type="range" id="volume" name="volume" min="4" max="8">
    </div>

    <div class="menu-item">
      <p>Difficulty:</p>
      <input id="difficulty" type="range" id="volume" name="volume" min="1" max="3">
    </div>

  </div>

</section>

<div id="menu-toggle"><span></span></div>