<style>
  @import url('js/components/menu/menu.component.css');
</style>

<div id="menu-content">

  <div class="menu-item">
    Theme:
    <img src="resources/icons/sun.svg" id="theme-switch">
  </div>

  <div class="menu-item">
    Tile selection:
    <fancy-toggle checked="true" id="tile-selection"></fancy-toggle>
  </div>

  <div class="menu-item">
    Validate word:
    <fancy-toggle checked="true" id="validate-word"></fancy-toggle>
  </div>

</div>

<div id="menu-toggle"><span></span></div>