div {
  aspect-ratio: 1;
  border: 3px solid var(--cell-border);
  border-radius: 40%;
  background-color: var(--cell-bg);
  color: var(--text-colour);
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  align-self: center;

  transition-duration: 0.2s;
  transition-property: color;
}

div.success {
  background-color: var(--cell-success);
}

div.warn {
  background-color: var(--cell-warn);
}

div.fail {
  background-color: var(--cell-fail);
}

div.error {
  color: #ad0202;
}

div.selected {
  border-bottom: 3px solid var(--cell-border-selected);
}

.flip {
  animation: 0.5s linear flip;
}

@keyframes flip {

  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}